body {
    font-family: 'Quicksand', sans-serif;
    background-color: #dff9fb;
}
table {
    border-collapse: collapse;
    width: 100%;
    background-color: #dff9fb;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #c7ecee;}

th {
    background-color: #30336b;
    color: white;
}

a:link, a:visited {
    background-color: #30336b;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #686de0;
}
.title {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    background-color: #30336b;
    color: white;
    padding: 15px 25px;
    text-align: center;
    margin: 0;
}