<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add New Customer</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h3 class="title">ITLU Add Customer</h3>

<form action="#" th:action="@{/addCustomer}" th:object="${customerForm}"
      method="post">
    <table>

        <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>NIP Number</th>
            <th>City</th>
            <th>Street</th>
            <th>House Number</th>
        </tr>

        </thead>
        <tr th:each="worker : ${customerForm}">
            <td><input required="required" type="text" th:field="*{name}"/></td>
            <td><input required="required" type="text" th:field="*{surname}"/></td>
            <td><input required="required" type="text" th:field="*{email}"/></td>
            <td><input required="required" type="text" th:field="*{phone_number}"/></td>
            <td><input required="required" type="text" th:field="*{nip_number}"/></td>
            <td><input required="required" type="text" th:field="*{city}"/></td>
            <td><input required="required" type="text" th:field="*{street}"/></td>
            <td><input required="required" type="text" th:field="*{house_number}"/></td>

            <th></th>
        </tr>

    </table>
    <br>

    <center>
        <br>
        <input onclick="return confirm('Are you sure?')" type="submit" id="submitButton" th:value="Save">
        <input onclick="return confirm('Are you sure?')" type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <br>
        <br>
        <br>
        <a href="/index">Menu</a>
    </center>
</form>

</body>

</html>


