<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ITLU Website</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>
<body style="background-image:url('/images/biuro.png');background-size: cover;">
<h3 class="title">ITLU Add Employee To Team</h3>
<br><br>
<center>
<h4>Select Employee To Team:</h4>
</center>
<form action="#" th:action="@{/addEmployeeToTeam}" th:object="${att}"
      method="post">
    <center>
    <select th:field="*{workerId}">
        <option value="">Select Employee</option>
        <br><br>
        <option th:each="test : ${workers}"
                th:value="${test.getId()}"
                th:text="${test.getName()}+' : '+${test.getSurname()}">
        </option>
    </select>
    <input type="hidden" th:field="*{teamId}" th:value="${teamId}" />
    <br>
        <br>
        <input onclick="return confirm('Are you sure?')" type="submit" id="submitButton" th:value="Save" class="click">
        <input onclick="return confirm('Are you sure?')" type="reset" id="resetButton" name="reset" th:value="Reset" class="click"/>
        <br>
        <br>
        <br>
        <a href="/index">Menu</a>
    </center>
</form>

<div class="footer">
    <p>Design by Damian Ruczynski</p>
</div>

</body>

</html>


