<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ITLU Website</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>
<body style="background-image:url('/images/biuro.png');background-size: cover;">
<h3 class="title">ITLU Project Create</h3>

<form action="#" th:action="@{/addProject}" th:object="${projectForm}"
      method="post">
    <table>

        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Team</th>
            <th>Customer</th>
            <th>Status</th>
        </tr>

        </thead>
        <tr th:each="project : ${projectForm}">
            <td><input required="required" type="text" th:field="*{project_name}"/></td>
            <td><input required="required" type="text" th:field="*{project_purpose}"/></td>
            <td>
                <select th:field="*{id_team}">
                    <option value="">Select Team</option>
                    <option th:each="test : ${teams}"
                            th:value="${test.getId()}"
                            th:text="${test.getTeam_name()}">
                    </option>
                </select>
            </td>
            <td>
                <select th:field="*{id_customer}">
                    <option value="">Select Customer</option>
                    <option th:each="test : ${customers}"
                            th:value="${test.getId()}"
                            th:text="${test.getCompany_name()}+' : '+${test.getNip_number()}">
                    </option>
                </select>
            </td>
            <td>
                <select th:field="*{project_status}">
                    <option th:each="test : ${statuses}"
                            th:value="${test.getValue()}"
                            th:text="${test.getDescription()}">
                    </option>
                </select>
            </td>

            <th></th>
        </tr>

    </table>
    <br>

    <center>
        <br>
        <input onclick="return confirm('Are you sure?')" type="submit" id="submitButton" th:value="Save">
        <input onclick="return confirm('Are you sure?')" type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <br>
        <br>
        <br>
        <a href="/index">Menu</a>
    </center>
</form>

</body>

</html>


