<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add New Project</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<h3 class="title">ITLU Project Create</h3>

<form action="#" th:action="@{/addProject}" th:object="${projectForm}"
      method="post">
    <table>

        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>

        </thead>
        <tr th:each="project : ${projectForm}">
            <td><input required="required" type="text" th:field="*{project_name}"/></td>
            <td><input required="required" type="text" th:field="*{project_purpose}"/></td>

            <th></th>
        </tr>

    </table>
    <br>

    <center>
        <br>
        <input onclick="return confirm('Are you sure?')" type="submit" id="submitButton" th:value="Save">
        <input onclick="return confirm('Are you sure?')" type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <br>
        <br>
        <br>
        <a href="/index">Menu</a>
    </center>
</form>

</body>

</html>


