<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ITLU Website</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>
<body style="background-image:url('/images/biuro.png');background-size: cover;">
<h3 class="title">ITLU Project Create</h3>

<form action="#" th:action="@{/addProject}" th:object="${projectForm}"
      method="post">
    <table>

        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Team</th>
            <th>Customer</th>
            <th>Status</th>
            <th>Project Cost</th>
        </tr>

        </thead>
        <tr th:each="project : ${projectForm}">
            <td><input required="required" type="text" th:field="*{project_name}"/></td>
            <td><input required="required" type="text" th:field="*{project_purpose}"/></td>
            <td>
                <select th:field="*{id_team}">
                    <option value="">Select Team</option>
                    <option th:each="test : ${teams}"
                            th:value="${test.getId()}"
                            th:text="${test.getTeam_name()}">
                    </option>
                </select>
            </td>
            <td>
                <select th:field="*{id_customer}">
                    <option value="">Select Customer</option>
                    <option th:each="test : ${customers}"
                            th:value="${test.getId()}"
                            th:text="${test.getCompany_name()}+' : '+${test.getNip_number()}">
                    </option>
                </select>
            </td>
            <td>
                <select th:field="*{project_status}">
                    <option th:each="test : ${statuses}"
                            th:value="${test.getValue()}"
                            th:text="${test.getDescription()}">
                    </option>
                </select>
            </td>
            <td>
                <input required="required" type="number" id="check" name="result" th:field="*{project_price}" value="" placeholder="1100" >
            </td>

            <th></th>
        </tr>

    </table>

    <br>
    <br>
    <br>
    <br>
    <br>

    <table>
        <thead>
        <tr>
            <th>Graphic Design</th>
            <th>Static Subpage- 50 pln for piece</th>
            <th>CMS Content Management System</th>
            <th>Delivery Time - Express</th>
            <th>SEO Optimization </th>
        </tr>

        </thead>
        <tr>
            <td><p>500 pln</p></td>
            <td><input type="number" onkeyup="projectCost()" onclick="projectCost()" id="subpages"/></td>
            <td><input type="checkbox" onclick="projectCost()" id="cms"/></td>
            <td><input type="checkbox" onclick="projectCost()" id="express"/></td>
            <td><input type="checkbox" onclick="projectCost()" id="seo"/></td>
        </tr>
    </table>
    <script>

        function projectCost(){

            let subpages = Number(document.getElementById("subpages").value);
            let cms = document.getElementById("cms").checked;
            let express = document.getElementById("express").checked;
            let seo = document.getElementById("seo").checked;

            let cmsWithNoCheck = 600;

            let sum = 500;

            sum = sum + subpages*50 ;

            if(cms){
                sum = sum + 1200;
            } else{
                sum = sum + 600;
            }

            if(seo){
                sum = sum + 600;
            }

            if(express){
                sum = sum*1.2;
            }


            document.getElementById("check").value = sum;
        }
    </script>
    <br>

    <center>
        <br>
        <input onclick="return confirm('Are you sure?')" type="submit" id="submitButton" th:value="Save" class="click">
        <input onclick="return confirm('Are you sure?')" type="reset" id="resetButton" name="reset" th:value="Reset" class="click"/>
        <br>
        <br>
        <br>
        <a href="/index">Menu</a>
    </center>
</form>

<div class="footer">
    <p>Design by Damian Ruczynski</p>
</div>

</body>

</html>


