<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ITLU Website</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>
<body style="background-image:url('/images/biuro.png');background-size: cover;">
<h3 class="title">ITLU Customers</h3>
<tr th:if="${customers.empty}">
    <td colspan="2"> No Customer Available</td>
</tr>

<table>
    <thead>
    <tr>
        <th>Company Name</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>NIP Number</th>
        <th>City</th>
        <th>Street</th>
        <th>House Number</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tr th:each="customer : ${customers}">
        <td><span th:text="${customer.getCompany_name()}">  </span></td>
        <td><span th:text="${customer.getSurname()}">  </span></td>
        <td><span th:text="${customer.getName()}">  </span></td>
        <td><span th:text="${customer.getEmail()}">  </span></td>
        <td><span th:text="${customer.getPhone_number()}">  </span></td>
        <td><span th:text="${customer.getNip_number()}">  </span></td>
        <td><span th:text="${customer.getCity()}">  </span></td>
        <td><span th:text="${customer.getStreet()}">  </span></td>
        <td><span th:text="${customer.getHouse_number()}">  </span></td>
        <td><a onclick="return confirm('Are you sure?')" th:href="@{'/' + ${customer.getId()} + '/editCustomer'}">Edit</a></td>
        <td><a onclick="return confirm('Are you sure?')" th:href="@{'/' + ${customer.getId()} + '/deleteCustomer'}">Delete</a></td>

        <th></th>
    </tr>

</table>

<br><br>
<center>
    <a href="/index">Menu</a>
    <a href="/addCustomer">Add New Customer</a>
</center>

<div class="footer">
    <p>Design by Damian Ruczynski</p>
</div>
</body>
</html>
