<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View your raport</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body style="background-image:url('/images/biuro.png');background-size: cover;">
<h3 class="title">ITLU Projects</h3>
<tr th:if="${projects.empty}">
    <td colspan="2"> No Teams Available</td>
</tr>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Team</th>
        <th>Company Name</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tr th:each="project : ${projects}">
        <td><span th:text="${project.getProjectName()}">  </span></td>
        <td><span th:text="${project.getProjectPurpose()}">  </span></td>
        <td><span th:text="${project.getTeamName()}">  </span></td>
        <td><span th:text="${project.getCompanyName()}">  </span></td>
        <td><a onclick="return confirm('Are you sure?')" th:href="@{'/' + ${project.getId()} + '/deleteProject'}">Delete</a></td>

        <th></th>
    </tr>

</table>

<br><br>
<center>
    <a href="/index">Menu</a>
    <a href="/addProject">Add New Project</a>
</center>
</body>
</html>
