<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ITLU Website</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>
<body style="background-image:url('/images/biuro.png');background-size: cover;">
<h3 class="title">ITLU Teams</h3>
<tr th:if="${teams.empty}">
    <td colspan="2"> No Teams Available</td>
</tr>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Details</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tr th:each="team : ${teams}">
        <td><span th:text="${team.getTeam_name()}">  </span></td>
        <td><span th:text="${team.getDescription()}">  </span></td>
        <td><a th:href="@{'/' + ${team.getId()} + '/teamDetails'}">Details</a></td>
        <td><a onclick="return confirm('Are you sure?')" th:href="@{'/' + ${team.getId()} + '/editTeam'}">Edit</a></td>
        <td><a onclick="return confirm('Are you sure?')" th:href="@{'/' + ${team.getId()} + '/deleteTeam'}">Delete</a></td>

        <th></th>
    </tr>

</table>

<br><br>
<center>
    <a href="/index">Menu</a>
    <a href="/addTeam">Add New Team</a>
</center>

<div class="footer">
    <p>Design by Damian Ruczynski</p>
</div>
</body>
</html>
