<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>


</head>
<body>

<center>
    <h3>ITLU project management system</h3>
</center>

<table>
    <thead>
    <tr>
        <th>Projects</th>
        <th>Teams</th>
        <th>Employees</th>
        <th>Customers</th>
        <th>Meetings</th>
    </tr>
    </thead>

    <tr>
        <td><a href="/allProjects">click here</a></td>
        <td><a href="/allTeams">click here</a></td>
        <td><a href="/allEmployees">click here</a></td>
        <td><a href="/allCustomers">click here</a></td>
        <td><a href="/allMeetings">click here</a></td>
<!--        <td><a href="/allBills">click here</a></td>-->
    </tr>

</table>

<br><br><br><br><br><br>
<br><br><br><br><br><br>

</body>

</html>


